In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_excel("C:/Users/HP/KHYLE TECHCORE/KHYLE DATA SC/supermarket_transactions.xlsx")
df.head(10)

,S/N,id,timestamp,quantity,product_id,PRODUCT_NAME,unit_price,total_amount,store,payment_method,customer_id,customer_type
0,0,47d54138-a950-4ec0-9d4a-e637e8dfb290,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,1,dea298b1-26ca-4a43-bcef-4050fb74ce1d,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2,8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,3,261c100c-b121-44b7-bc03-787f396c2061,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,4,7d025b4d-caac-40a5-b954-63cd7bd20f92,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
5,5,50adf65d-1917-49ef-9f8b-cddd9969d01b,2022-03-27 13:15:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,Erichaven,credit card,78f29877-3ed9-4c58-a81a-3f5a248800bb,staff
6,6,01e25123-0995-4eda-8870-b9965a03fd3d,2021-09-17 12:47:00,3,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.17,Tracyton,contactless,5b2b478e-e102-47e3-ac06-04c58e6d9c2d,staff
7,7,b273ec23-b75d-4656-bd7f-315238bbacba,2020-01-05 19:51:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Christineside,contactless,ffb04b72-49fa-4e9a-8a91-96db0a8596a8,staff
8,8,ea773393-f8d9-4192-a33a-66429e139760,2019-07-03 15:12:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,Meganton,debit card,11171cf2-6670-4a7e-b56c-a54a1fa24cc3,staff
9,9,e8602bf8-f2f1-41a6-98b3-128977093cc3,2022-05-23 09:15:00,4,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.56,South Christineside,credit card,77e5eeed-52a2-48a2-a424-75fdcd5b8270,corporate

In [4]:
df=pd.read_excel("C:/Users/HP/KHYLE TECHCORE/KHYLE DATA SC/supermarket_transactions.xlsx")
df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50783 entries, 0 to 50782
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S/N             50783 non-null  int64
 1   id              50783 non-null  object
 2   timestamp       50783 non-null  datetime64[ns]
 3   quantity        50783 non-null  int64
 4   product_id      50783 non-null  object
 5   PRODUCT_NAME    50783 non-null  object
 6   unit_price      50783 non-null  float64
 7   total_amount    50783 non-null  float64
 8   store           50783 non-null  object
 9   payment_method  50783 non-null  object
 10  customer_id     50783 non-null  object
 11  customer_type   50783 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 4.6+ MB

In [5]:
#print(df.columns)
#another way to view columns
for col in df.columns:
    print(col)

S/N
id
timestamp
quantity
product_id
PRODUCT_NAME
unit_price
total_amount
store
payment_method
customer_id
customer_type

In [15]:
#df = df.rename(columns={"OldName": "NewName", "Salary": "Monthly_Salary"}) #renaming a column
#df.columns = ["ID", "Full_Name", "Age", "Department", "Monthly_Salary"] #change all columns at once
#df = df.drop(columns=["Age"])   # removes Age column
#df["Bonus"] = df["Monthly_Salary"] * 0.1   # 10% bonus
#df["Full_Name"] = df["Full_Name"].str.upper()   # convert names to uppercase

df=df.drop(columns=["id"])

'''df = df.rename(columns={
    'S/N': 'ID',
    'timestamp': 'Time Stamp',
    'quantity': 'Quantity',
    'product_id': 'Product ID',
    'PRODUCT_NAME': 'Product Name',
    'unit_price': 'Unit Price',
    'total_amount': 'Total Amount',
    'store': 'Store',
    'payment_method': 'Payment Method',
    'customer_id': 'Customer ID',
    'customer_type': 'Customer Type'
})'''

KeyError: "['id'] not found in axis"

In [16]:
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
           Time Stamp  Quantity                            Product ID  \
0 2022-04-28 09:11:00        10  56b274d1-b2a4-47be-abaf-6c1c7742beb9
1 2019-12-06 16:21:00         1  56b274d1-b2a4-47be-abaf-6c1c7742beb9
2 2019-06-22 15:27:00        10  56b274d1-b2a4-47be-abaf-6c1c7742beb9
3 2020-08-16 18:14:00         8  56b274d1-b2a4-47be-abaf-6c1c7742beb9
4 2019-11-12 15:46:00         1  56b274d1-b2a4-47be-abaf-6c1c7742beb9

  Product Name  Unit Price  Total Amount              Store Payment Method  \
0        wheat        0.39          3.90    South Billyview           cash
1        wheat        0.39          0.39       South Edward    contactless
2        wheat        0.39          3.90    South Billyview    contactless
3        wheat        0.39          3.12  South Michaelfurt    credit card
4        wheat        0.39          0.39    Christopherfurt           cash

                            Customer ID Customer Type
0  c2b9eddd-df8c-446a-ae34-50ad88f28e0a    non-member
1  134a3c2c-8ccc-494c-9916-a15ff10a9125        member
2  a310b698-4e34-4a4a-8c60-e72fad63f9ba          gold
3  0dfaced3-271c-4da0-80fc-fd3de4328bd5     corporate
4  b05efb3f-c38e-4b86-8366-32e42340a4dc          gold

In [18]:
#df=df.drop(columns=["ID"])
df.head(10)

,Time Stamp,Quantity,Product ID,Product Name,Unit Price,Total Amount,Store,Payment Method,Customer ID,Customer Type
0,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
5,2022-03-27 13:15:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,Erichaven,credit card,78f29877-3ed9-4c58-a81a-3f5a248800bb,staff
6,2021-09-17 12:47:00,3,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.17,Tracyton,contactless,5b2b478e-e102-47e3-ac06-04c58e6d9c2d,staff
7,2020-01-05 19:51:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Christineside,contactless,ffb04b72-49fa-4e9a-8a91-96db0a8596a8,staff
8,2019-07-03 15:12:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,Meganton,debit card,11171cf2-6670-4a7e-b56c-a54a1fa24cc3,staff
9,2022-05-23 09:15:00,4,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.56,South Christineside,credit card,77e5eeed-52a2-48a2-a424-75fdcd5b8270,corporate

In [20]:
backup_df = df.copy()

In [24]:
import pandas as pd

# Load original data
#original_df = pd.read_excel("data.xlsx")

# Keep a backup
#df = original_df.copy()

# Do operations on df
#df = df.rename(columns={"Name": "Full_Name"})
#df["SN"] = range(1, len(df) + 1)

# If something goes wrong, restore
#df = original_df.copy()
df.head(10)

,Time Stamp,Quantity,Product ID,Product Name,Unit Price,Total Amount,Store,Payment Method,Customer ID,Customer Type
0,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
5,2022-03-27 13:15:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,Erichaven,credit card,78f29877-3ed9-4c58-a81a-3f5a248800bb,staff
6,2021-09-17 12:47:00,3,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.17,Tracyton,contactless,5b2b478e-e102-47e3-ac06-04c58e6d9c2d,staff
7,2020-01-05 19:51:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Christineside,contactless,ffb04b72-49fa-4e9a-8a91-96db0a8596a8,staff
8,2019-07-03 15:12:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,Meganton,debit card,11171cf2-6670-4a7e-b56c-a54a1fa24cc3,staff
9,2022-05-23 09:15:00,4,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.56,South Christineside,credit card,77e5eeed-52a2-48a2-a424-75fdcd5b8270,corporate

In [28]:
df = df.reset_index(drop=True)
df["SN"] = df.index + 1
df.head(10)

,Time Stamp,Quantity,Product ID,Product Name,Unit Price,Total Amount,Store,Payment Method,Customer ID,Customer Type,SN
0,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member,1
1,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member,2
2,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold,3
3,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate,4
4,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold,5
5,2022-03-27 13:15:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,Erichaven,credit card,78f29877-3ed9-4c58-a81a-3f5a248800bb,staff,6
6,2021-09-17 12:47:00,3,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.17,Tracyton,contactless,5b2b478e-e102-47e3-ac06-04c58e6d9c2d,staff,7
7,2020-01-05 19:51:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Christineside,contactless,ffb04b72-49fa-4e9a-8a91-96db0a8596a8,staff,8
8,2019-07-03 15:12:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,Meganton,debit card,11171cf2-6670-4a7e-b56c-a54a1fa24cc3,staff,9
9,2022-05-23 09:15:00,4,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.56,South Christineside,credit card,77e5eeed-52a2-48a2-a424-75fdcd5b8270,corporate,10

In [29]:
df.to_excel("cleaned_Supermarket_data.xlsx", index=False)

In [32]:
#Across locations, how many apples were purchased in cash?
apples_cash = df[(df["Product Name"].str.lower() == "apple") & 
                 (df["Payment Method"].str.lower() == "cash")]

total_apples_cash = apples_cash["Quantity"].sum()
print("Total apples purchased in cash:", total_apples_cash)

#How much total cash was spent on these apples?
total_cash_spent_on_apples = apples_cash["Total Amount"].sum()
print("Total cash spent on apples:", total_cash_spent_on_apples)

#Across all payment methods, how much money was spent at the Bakershire store by non-member customers?
bakershire_non_members = df[(df["Store"].str.lower() == "bakershire") & 
                            (df["Customer Type"].str.lower() == "non-member")]

total_spent_bakershire_non_members = bakershire_non_members["Total Amount"].sum()
print("Total spent at Bakershire by non-members:", total_spent_bakershire_non_members)

Total apples purchased in cash: 117
Total cash spent on apples: 537.0299999999997
Total spent at Bakershire by non-members: 2857.5099999999993

In [33]:
df.to_excel("cleaned_Supermarket.xlsx", index=False)

In [35]:
#Group by Product + Payment Method
grouped = df.groupby(["Product Name", "Payment Method"]).agg(
    Total_Quantity=("Quantity", "sum"),
    Total_Spent=("Total Amount", "sum")
).reset_index()

print(grouped)

#Group by Store + Customer Type

store_summary = df.groupby(["Store", "Customer Type"]).agg(
    Total_Spent=("Total Amount", "sum"),
    Total_Quantity=("Quantity", "sum")
).reset_index()

print(store_summary)

          Product Name Payment Method  Total_Quantity  Total_Spent
0              Bologna           cash             132       231.00
1              Bologna    contactless             136       238.00
2              Bologna    credit card             123       215.25
3              Bologna     debit card             169       295.75
4     Brussels sprouts           cash             202       846.38
...                ...            ...             ...          ...
1963            yogurt     debit card             113       536.75
1964          zucchini           cash             197       965.30
1965          zucchini    contactless             150       735.00
1966          zucchini    credit card              81       396.90
1967          zucchini     debit card             137       671.30

[1968 rows x 4 columns]
             Store Customer Type  Total_Spent  Total_Quantity
0        Alexmouth     corporate      2603.55             978
1        Alexmouth          gold      2489.65             933
2        Alexmouth        member      2538.17             971
3        Alexmouth    non-member      2698.83             974
4        Alexmouth       premium      2380.62             902
..             ...           ...          ...             ...
283  West Stefanie          gold      2416.20             922
284  West Stefanie        member      2736.57            1067
285  West Stefanie    non-member      2322.84             895
286  West Stefanie       premium      2855.00            1038
287  West Stefanie         staff      2765.53            1089

[288 rows x 4 columns]

In [36]:
#Combine Filters + Groupby (flexible analysis)

apples_cash = df[(df["Product Name"].str.lower() == "apple") & 
                 (df["Payment Method"].str.lower() == "cash")]

summary_apples_cash = apples_cash.groupby("Store").agg(
    Total_Quantity=("Quantity", "sum"),
    Total_Spent=("Total Amount", "sum")
).reset_index()

print(summary_apples_cash)

#Pivot Table Style (Excel-like view)

pivot = pd.pivot_table(
    df,
    values="Total Amount",
    index=["Store"],
    columns=["Customer Type", "Payment Method"],
    aggfunc="sum",
    fill_value=0
)

print(pivot)

                Store  Total_Quantity  Total_Spent
0           Alexmouth               6        27.54
1        Andersonland               1         4.59
2    East Suzanneside              10        45.90
3           Erichaven               7        32.13
4         Jordanmouth               4        18.36
5           Julieview               3        13.77
6          Lake Bryan               8        36.72
7         Port Angela               2         9.18
8     South Billyview              12        55.08
9       South Cynthia              18        82.62
10       South Edward               8        36.72
11  South Michaelfurt              10        45.90
12        Swansonfurt              17        78.03
13           Tracyton               7        32.13
14      West Stefanie               4        18.36
Customer Type       corporate                                       gold  \
Payment Method           cash contactless credit card debit card    cash
Store
Alexmouth              577.82      635.10      466.11     924.52  381.53
Andersonland           657.28      571.16      459.59     737.57  525.37
Andreburgh             685.29      649.34      579.28     500.43  601.96
Anthonymouth           583.70      665.16      651.32     702.79  518.31
Anthonyton             662.48      597.59      835.23     872.88  717.19
Aprilside              735.37      609.45      821.19     640.90  677.75
Bakershire             739.06      524.08      767.97     741.74  463.28
Charlesbury            472.57      403.87      754.97     618.90  650.74
Christopherfurt        610.51      767.74      477.36     690.95  530.18
Christopherhaven       637.71      560.84      588.77     503.49  623.85
East Ann               508.03      609.10      668.61     520.68  606.35
East Candiceton        508.79      634.41      660.65     811.03  706.64
East Jeremytown        629.18      836.85      713.00     723.90  672.35
East Sara              614.53      777.10      442.75     421.08  608.49
East Suzanneside       673.73      416.64      697.70     648.28  382.17
Erichaven              699.55      545.84      691.75     456.21  469.97
Irwinport              648.36      609.55      434.20     451.38  736.42
Jaredside              751.91      765.23      394.09     570.73  659.11
Jessicafort            601.13      667.40      785.99     575.21  349.97
Jordanmouth            487.13      581.20      810.75     797.88  667.02
Julieview              651.45      561.19      562.02     520.79  582.25
Justinstad             616.57      643.79      625.62     743.05  587.32
Lake Bryan             736.66      703.46      639.27     877.29  768.55
Martinezfurt           575.24      510.80      799.99     744.43  796.36
Meganton               530.05      791.37      797.54     613.29  581.29
Michelemouth           584.87      635.20      492.41     745.71  549.01
New Eric               885.56      985.12      498.02     663.69  787.16
New Glenn              834.67      555.19      548.53     796.58  540.99
New Lisa               670.46      590.45      585.23     739.14  776.11
New Richard            609.62      723.39      589.49     561.18  599.72
North Charles          626.35      557.62      610.28     392.77  795.77
North Joyfort          460.73      733.25      533.97     762.19  435.30
North Sarah            561.47      504.25      518.72     762.92  783.43
Port Angela            686.82      708.09      545.53     870.93  906.95
Port Emilymouth        451.87      760.05      797.79     610.31  544.78
South Alyssa           692.33      399.61      569.53     813.27  543.35
South Billyview        495.05      907.23      486.14     414.86  501.87
South Christineside    770.23      775.73      642.10     591.02  543.92
South Cynthia          645.41      508.46      572.55     648.38  645.66
South Edward           605.75      755.39      555.74     717.35  407.85
South Helenhaven       620.32      661.89      865.09     740.00  810.80
South Michaelfurt      756.66      637.42      541.44     630.56  653.01
South Rachaelport      745.62      815.59      868.22     649.43  643.30
Swansonfurt            598.67      632.88      683.41     663.76  701.25
Tracyton               616.30      875.36      539.56     551.03  785.38
Vincentville           669.78      798.64      655.76     714.64  763.67
West John              562.98      700.28      809.52     608.02  753.18
West Stefanie          653.63      790.84      693.48     388.18  569.17

Customer Type                                           member              \
Payment Method      contactless credit card debit card    cash contactless
Store
Alexmouth                659.95      760.25     687.92  810.75      471.74
Andersonland             581.21      392.34     685.61  803.83      492.10
Andreburgh               951.57      604.18     817.63  750.66      786.59
Anthonymouth             457.41      621.34     601.04  448.19      620.20
Anthonyton               723.72      632.88     675.13  625.51      752.95
Aprilside                354.01      673.80     570.41  867.00      860.74
Bakershire               596.29      595.73     733.62  769.90      676.21
Charlesbury              670.75      446.15     613.00  648.96      745.25
Christopherfurt          416.81      596.87     627.54  630.35      695.47
Christopherhaven         632.55      770.99     739.83  856.40      786.92
East Ann                 624.14      575.75     601.52  698.68      491.56
East Candiceton          670.77      683.40     693.63  680.87      450.54
East Jeremytown          837.83      693.07     506.51  510.85      678.46
East Sara                598.50      830.63     657.27  665.26      863.20
East Suzanneside         700.00      894.75     538.42  663.22      639.56
Erichaven                389.65      605.51     590.97  643.45      655.46
Irwinport                515.04      796.46     939.43  359.17      520.04
Jaredside                507.43      424.06     517.74  628.88      601.43
Jessicafort              485.79      553.40     489.07  695.53      642.49
Jordanmouth              852.82      593.39     636.31  633.13      614.79
Julieview                614.47      856.80     604.11  587.91      538.73
Justinstad               594.14      417.53     559.02  623.29      663.55
Lake Bryan               599.94      878.71     742.43  533.07      560.03
Martinezfurt             516.97      522.27     462.40  733.94      896.92
Meganton                 692.42      610.03     433.06  747.56      627.37
Michelemouth             711.16      563.29     689.00  544.73      852.90
New Eric                 651.75      611.52     670.34  874.03      533.17
New Glenn                743.97      808.91     654.67  606.85      768.55
New Lisa                 710.50      664.86     709.24  799.62      515.15
New Richard              707.64      458.27     708.86  657.37      546.74
North Charles            681.43      630.06     658.00  822.41      787.82
North Joyfort            606.28      586.09     748.77  550.98      430.05
North Sarah              598.11      616.00     582.36  562.76      543.96
Port Angela              609.85      621.09     704.54  563.57      480.80
Port Emilymouth          910.97      525.38     695.16  722.25      735.67
South Alyssa             599.48      830.81     806.75  754.41      478.72
South Billyview          741.53      554.43     776.34  767.21      846.89
South Christineside      709.89      640.39     507.19  546.33      299.84
South Cynthia            701.21      713.68     651.87  714.87      612.84
South Edward             634.33      613.42     461.81  632.16      636.33
South Helenhaven         863.35      742.93     858.50  841.31      586.38
South Michaelfurt        669.83      723.76     770.27  581.24      500.26
South Rachaelport        578.87      502.78     816.71  455.38      533.98
Swansonfurt              474.65      462.50     879.01  605.60      551.35
Tracyton                 620.69      726.47     448.40  705.55      388.11
Vincentville             576.81      631.38     598.99  649.82      693.17
West John                813.95      808.53     581.31  653.67      773.60
West Stefanie            597.23      767.48     482.32  719.54      723.37

Customer Type        ...  non-member            premium              \
Payment Method       ... credit card debit card    cash contactless
Store                ...
Alexmouth            ...      607.58     588.19  574.75      589.15
Andersonland         ...      684.70     783.10  718.07      634.58
Andreburgh           ...      645.73     694.20  593.31      525.81
Anthonymouth         ...      698.07     646.73  778.72      606.07
Anthonyton           ...      319.56     771.20  759.66      619.48
Aprilside            ...      670.62     397.06  643.42      598.76
Bakershire           ...      668.38     705.16  836.23      742.12
Charlesbury          ...      753.69     572.85  677.65      558.51
Christopherfurt      ...      435.16     694.64  472.45      667.52
Christopherhaven     ...      531.63     461.56  744.35      464.52
East Ann             ...      590.01     661.92  453.55      590.31
East Candiceton      ...      921.90     774.94  612.54      416.38
East Jeremytown      ...      691.72     897.73  443.84      641.92
East Sara            ...      540.11     562.76  659.37      622.75
East Suzanneside     ...      518.80     602.75  704.12      420.18
Erichaven            ...      723.88     573.62  663.47      423.36
Irwinport            ...      642.15     803.63  620.26      864.69
Jaredside            ...      454.24     816.76  588.04      699.77
Jessicafort          ...      530.36     583.95  581.17      489.41
Jordanmouth          ...      578.25     499.33  394.50      678.93
Julieview            ...      617.88     555.96  539.31      473.36
Justinstad           ...      614.66     513.70  563.10      713.17
Lake Bryan           ...      851.78     696.34  700.99      574.57
Martinezfurt         ...      647.87     703.66  574.58      647.03
Meganton             ...      653.47     639.23  700.63      636.66
Michelemouth         ...      601.93     571.76  751.94      741.18
New Eric             ...      832.97     553.82  473.27      780.89
New Glenn            ...      768.48     595.32  633.12      599.58
New Lisa             ...      522.66     468.75  794.50      699.88
New Richard          ...      637.98     547.86  736.24      598.18
North Charles        ...      780.25     452.30  574.54      613.70
North Joyfort        ...      599.40     621.77  590.16      858.18
North Sarah          ...      727.49     648.91  472.90      791.05
Port Angela          ...      427.81     676.58  915.48      623.85
Port Emilymouth      ...      523.54     708.10  738.83      594.93
South Alyssa         ...      494.51     835.30  602.09      839.48
South Billyview      ...      529.04     492.69  646.21      551.78
South Christineside  ...      758.00     724.84  519.65      486.31
South Cynthia        ...      846.94     624.05  453.41      824.72
South Edward         ...      651.50     495.80  636.56      637.44
South Helenhaven     ...      550.97     902.80  435.99      465.72
South Michaelfurt    ...      652.94     709.13  625.81      543.51
South Rachaelport    ...      462.03     572.49  558.12      527.11
Swansonfurt          ...      744.14     619.34  505.52      848.26
Tracyton             ...      455.57     740.18  716.46      774.22
Vincentville         ...      734.45     550.03  562.73      876.76
West John            ...      756.21     681.68  604.89      717.83
West Stefanie        ...      602.07     546.37  696.00      947.93

Customer Type                                 staff                          \
Payment Method      credit card debit card     cash contactless credit card
Store
Alexmouth                584.80     631.92   413.89      667.35      513.31
Andersonland             705.49     537.49   545.17      730.40      459.71
Andreburgh               515.09     941.18   721.27      636.90      506.45
Anthonymouth             678.22     642.16   448.09      629.11      792.24
Anthonyton               789.56     646.12   726.81      554.27      827.33
Aprilside                724.24     601.09   455.65      714.46      836.25
Bakershire               539.43     487.20   523.03      577.26      850.51
Charlesbury              752.63     585.05   516.24      589.11      800.70
Christopherfurt          656.23     680.06   689.54      559.24      643.02
Christopherhaven         591.18     573.82   643.27      681.30      621.52
East Ann                 597.69     731.47   644.09      644.54      542.70
East Candiceton          743.31     550.11   361.13      474.96      521.82
East Jeremytown          569.37     683.50   776.91      672.75      530.10
East Sara                689.23     789.89   570.80      595.17      802.42
East Suzanneside         624.92     622.32  1059.56      559.53      470.71
Erichaven                840.40     804.64   588.12      610.32      523.35
Irwinport                656.30     364.40   350.89      363.82      324.49
Jaredside                593.00     576.53   849.25      658.23      684.53
Jessicafort              590.56     595.16   591.65      628.15      777.86
Jordanmouth              634.12     798.42   519.11      608.04      617.21
Julieview                637.71     541.55   588.83      626.90      666.85
Justinstad               573.37     451.61   790.41      993.90      534.03
Lake Bryan               798.38     663.38   659.59      742.38      674.26
Martinezfurt             702.57     639.80   641.92      636.52      563.85
Meganton                 612.64     569.16   585.22      734.98      675.14
Michelemouth             527.54     572.79   820.83      313.43      556.52
New Eric                 632.20     558.91   590.39      653.87      992.52
New Glenn                534.55     623.97   504.40      514.92      746.53
New Lisa                 632.09     807.78   589.11      670.39      701.05
New Richard              620.40     843.40   521.08      522.09      631.41
North Charles            711.99     912.32   682.49      454.99      548.58
North Joyfort            609.45     526.49   582.68      607.47      769.25
North Sarah              694.05     828.82   756.29      628.29      590.65
Port Angela              855.05     459.79   701.14      620.64      725.21
Port Emilymouth          480.72     513.58   678.04      595.94      531.16
South Alyssa             778.97     494.20   742.65      703.64      645.95
South Billyview          681.97     720.70   709.59      829.52      721.67
South Christineside      662.97     575.75   596.02      633.02      493.13
South Cynthia            740.32     624.32   597.46      604.52      767.47
South Edward             619.64     677.48   591.68      798.87      516.91
South Helenhaven         600.14     729.80   555.55      573.49      326.63
South Michaelfurt        536.28     342.41   439.15      630.73      893.00
South Rachaelport        478.15     779.60   998.30      544.09      681.71
Swansonfurt              543.44     643.14   425.37      683.20      746.23
Tracyton                 792.46     548.11   655.82      449.68      409.41
Vincentville             424.27     521.89   563.40      723.35      657.75
West John                457.50     588.62   627.48      632.86      847.68
West Stefanie            604.70     606.37   612.53      576.48      718.44

Customer Type
Payment Method      debit card
Store
Alexmouth               670.54
Andersonland            382.79
Andreburgh              647.15
Anthonymouth            574.64
Anthonyton              595.01
Aprilside               629.55
Bakershire              566.24
Charlesbury             678.65
Christopherfurt         744.69
Christopherhaven        656.19
East Ann                656.77
East Candiceton         625.02
East Jeremytown         787.77
East Sara               506.91
East Suzanneside        633.63
Erichaven               722.52
Irwinport               571.39
Jaredside               661.50
Jessicafort             616.78
Jordanmouth             711.73
Julieview               494.38
Justinstad              754.33
Lake Bryan              812.79
Martinezfurt            653.56
Meganton                571.99
Michelemouth            485.62
New Eric                665.96
New Glenn               439.04
New Lisa                425.55
New Richard             632.90
North Charles           654.23
North Joyfort           556.20
North Sarah             850.48
Port Angela             989.61
Port Emilymouth         587.84
South Alyssa            526.27
South Billyview         867.67
South Christineside     601.87
South Cynthia           719.43
South Edward            653.41
South Helenhaven        715.65
South Michaelfurt       690.28
South Rachaelport       455.74
Swansonfurt             536.79
Tracyton                768.33
Vincentville            750.44
West John               425.23
West Stefanie           858.08

[48 rows x 24 columns]

In [38]:
print(pivot)

Customer Type       corporate                                       gold  \
Payment Method           cash contactless credit card debit card    cash
Store
Alexmouth              577.82      635.10      466.11     924.52  381.53
Andersonland           657.28      571.16      459.59     737.57  525.37
Andreburgh             685.29      649.34      579.28     500.43  601.96
Anthonymouth           583.70      665.16      651.32     702.79  518.31
Anthonyton             662.48      597.59      835.23     872.88  717.19
Aprilside              735.37      609.45      821.19     640.90  677.75
Bakershire             739.06      524.08      767.97     741.74  463.28
Charlesbury            472.57      403.87      754.97     618.90  650.74
Christopherfurt        610.51      767.74      477.36     690.95  530.18
Christopherhaven       637.71      560.84      588.77     503.49  623.85
East Ann               508.03      609.10      668.61     520.68  606.35
East Candiceton        508.79      634.41      660.65     811.03  706.64
East Jeremytown        629.18      836.85      713.00     723.90  672.35
East Sara              614.53      777.10      442.75     421.08  608.49
East Suzanneside       673.73      416.64      697.70     648.28  382.17
Erichaven              699.55      545.84      691.75     456.21  469.97
Irwinport              648.36      609.55      434.20     451.38  736.42
Jaredside              751.91      765.23      394.09     570.73  659.11
Jessicafort            601.13      667.40      785.99     575.21  349.97
Jordanmouth            487.13      581.20      810.75     797.88  667.02
Julieview              651.45      561.19      562.02     520.79  582.25
Justinstad             616.57      643.79      625.62     743.05  587.32
Lake Bryan             736.66      703.46      639.27     877.29  768.55
Martinezfurt           575.24      510.80      799.99     744.43  796.36
Meganton               530.05      791.37      797.54     613.29  581.29
Michelemouth           584.87      635.20      492.41     745.71  549.01
New Eric               885.56      985.12      498.02     663.69  787.16
New Glenn              834.67      555.19      548.53     796.58  540.99
New Lisa               670.46      590.45      585.23     739.14  776.11
New Richard            609.62      723.39      589.49     561.18  599.72
North Charles          626.35      557.62      610.28     392.77  795.77
North Joyfort          460.73      733.25      533.97     762.19  435.30
North Sarah            561.47      504.25      518.72     762.92  783.43
Port Angela            686.82      708.09      545.53     870.93  906.95
Port Emilymouth        451.87      760.05      797.79     610.31  544.78
South Alyssa           692.33      399.61      569.53     813.27  543.35
South Billyview        495.05      907.23      486.14     414.86  501.87
South Christineside    770.23      775.73      642.10     591.02  543.92
South Cynthia          645.41      508.46      572.55     648.38  645.66
South Edward           605.75      755.39      555.74     717.35  407.85
South Helenhaven       620.32      661.89      865.09     740.00  810.80
South Michaelfurt      756.66      637.42      541.44     630.56  653.01
South Rachaelport      745.62      815.59      868.22     649.43  643.30
Swansonfurt            598.67      632.88      683.41     663.76  701.25
Tracyton               616.30      875.36      539.56     551.03  785.38
Vincentville           669.78      798.64      655.76     714.64  763.67
West John              562.98      700.28      809.52     608.02  753.18
West Stefanie          653.63      790.84      693.48     388.18  569.17

Customer Type                                           member              \
Payment Method      contactless credit card debit card    cash contactless
Store
Alexmouth                659.95      760.25     687.92  810.75      471.74
Andersonland             581.21      392.34     685.61  803.83      492.10
Andreburgh               951.57      604.18     817.63  750.66      786.59
Anthonymouth             457.41      621.34     601.04  448.19      620.20
Anthonyton               723.72      632.88     675.13  625.51      752.95
Aprilside                354.01      673.80     570.41  867.00      860.74
Bakershire               596.29      595.73     733.62  769.90      676.21
Charlesbury              670.75      446.15     613.00  648.96      745.25
Christopherfurt          416.81      596.87     627.54  630.35      695.47
Christopherhaven         632.55      770.99     739.83  856.40      786.92
East Ann                 624.14      575.75     601.52  698.68      491.56
East Candiceton          670.77      683.40     693.63  680.87      450.54
East Jeremytown          837.83      693.07     506.51  510.85      678.46
East Sara                598.50      830.63     657.27  665.26      863.20
East Suzanneside         700.00      894.75     538.42  663.22      639.56
Erichaven                389.65      605.51     590.97  643.45      655.46
Irwinport                515.04      796.46     939.43  359.17      520.04
Jaredside                507.43      424.06     517.74  628.88      601.43
Jessicafort              485.79      553.40     489.07  695.53      642.49
Jordanmouth              852.82      593.39     636.31  633.13      614.79
Julieview                614.47      856.80     604.11  587.91      538.73
Justinstad               594.14      417.53     559.02  623.29      663.55
Lake Bryan               599.94      878.71     742.43  533.07      560.03
Martinezfurt             516.97      522.27     462.40  733.94      896.92
Meganton                 692.42      610.03     433.06  747.56      627.37
Michelemouth             711.16      563.29     689.00  544.73      852.90
New Eric                 651.75      611.52     670.34  874.03      533.17
New Glenn                743.97      808.91     654.67  606.85      768.55
New Lisa                 710.50      664.86     709.24  799.62      515.15
New Richard              707.64      458.27     708.86  657.37      546.74
North Charles            681.43      630.06     658.00  822.41      787.82
North Joyfort            606.28      586.09     748.77  550.98      430.05
North Sarah              598.11      616.00     582.36  562.76      543.96
Port Angela              609.85      621.09     704.54  563.57      480.80
Port Emilymouth          910.97      525.38     695.16  722.25      735.67
South Alyssa             599.48      830.81     806.75  754.41      478.72
South Billyview          741.53      554.43     776.34  767.21      846.89
South Christineside      709.89      640.39     507.19  546.33      299.84
South Cynthia            701.21      713.68     651.87  714.87      612.84
South Edward             634.33      613.42     461.81  632.16      636.33
South Helenhaven         863.35      742.93     858.50  841.31      586.38
South Michaelfurt        669.83      723.76     770.27  581.24      500.26
South Rachaelport        578.87      502.78     816.71  455.38      533.98
Swansonfurt              474.65      462.50     879.01  605.60      551.35
Tracyton                 620.69      726.47     448.40  705.55      388.11
Vincentville             576.81      631.38     598.99  649.82      693.17
West John                813.95      808.53     581.31  653.67      773.60
West Stefanie            597.23      767.48     482.32  719.54      723.37

Customer Type        ...  non-member            premium              \
Payment Method       ... credit card debit card    cash contactless
Store                ...
Alexmouth            ...      607.58     588.19  574.75      589.15
Andersonland         ...      684.70     783.10  718.07      634.58
Andreburgh           ...      645.73     694.20  593.31      525.81
Anthonymouth         ...      698.07     646.73  778.72      606.07
Anthonyton           ...      319.56     771.20  759.66      619.48
Aprilside            ...      670.62     397.06  643.42      598.76
Bakershire           ...      668.38     705.16  836.23      742.12
Charlesbury          ...      753.69     572.85  677.65      558.51
Christopherfurt      ...      435.16     694.64  472.45      667.52
Christopherhaven     ...      531.63     461.56  744.35      464.52
East Ann             ...      590.01     661.92  453.55      590.31
East Candiceton      ...      921.90     774.94  612.54      416.38
East Jeremytown      ...      691.72     897.73  443.84      641.92
East Sara            ...      540.11     562.76  659.37      622.75
East Suzanneside     ...      518.80     602.75  704.12      420.18
Erichaven            ...      723.88     573.62  663.47      423.36
Irwinport            ...      642.15     803.63  620.26      864.69
Jaredside            ...      454.24     816.76  588.04      699.77
Jessicafort          ...      530.36     583.95  581.17      489.41
Jordanmouth          ...      578.25     499.33  394.50      678.93
Julieview            ...      617.88     555.96  539.31      473.36
Justinstad           ...      614.66     513.70  563.10      713.17
Lake Bryan           ...      851.78     696.34  700.99      574.57
Martinezfurt         ...      647.87     703.66  574.58      647.03
Meganton             ...      653.47     639.23  700.63      636.66
Michelemouth         ...      601.93     571.76  751.94      741.18
New Eric             ...      832.97     553.82  473.27      780.89
New Glenn            ...      768.48     595.32  633.12      599.58
New Lisa             ...      522.66     468.75  794.50      699.88
New Richard          ...      637.98     547.86  736.24      598.18
North Charles        ...      780.25     452.30  574.54      613.70
North Joyfort        ...      599.40     621.77  590.16      858.18
North Sarah          ...      727.49     648.91  472.90      791.05
Port Angela          ...      427.81     676.58  915.48      623.85
Port Emilymouth      ...      523.54     708.10  738.83      594.93
South Alyssa         ...      494.51     835.30  602.09      839.48
South Billyview      ...      529.04     492.69  646.21      551.78
South Christineside  ...      758.00     724.84  519.65      486.31
South Cynthia        ...      846.94     624.05  453.41      824.72
South Edward         ...      651.50     495.80  636.56      637.44
South Helenhaven     ...      550.97     902.80  435.99      465.72
South Michaelfurt    ...      652.94     709.13  625.81      543.51
South Rachaelport    ...      462.03     572.49  558.12      527.11
Swansonfurt          ...      744.14     619.34  505.52      848.26
Tracyton             ...      455.57     740.18  716.46      774.22
Vincentville         ...      734.45     550.03  562.73      876.76
West John            ...      756.21     681.68  604.89      717.83
West Stefanie        ...      602.07     546.37  696.00      947.93

Customer Type                                 staff                          \
Payment Method      credit card debit card     cash contactless credit card
Store
Alexmouth                584.80     631.92   413.89      667.35      513.31
Andersonland             705.49     537.49   545.17      730.40      459.71
Andreburgh               515.09     941.18   721.27      636.90      506.45
Anthonymouth             678.22     642.16   448.09      629.11      792.24
Anthonyton               789.56     646.12   726.81      554.27      827.33
Aprilside                724.24     601.09   455.65      714.46      836.25
Bakershire               539.43     487.20   523.03      577.26      850.51
Charlesbury              752.63     585.05   516.24      589.11      800.70
Christopherfurt          656.23     680.06   689.54      559.24      643.02
Christopherhaven         591.18     573.82   643.27      681.30      621.52
East Ann                 597.69     731.47   644.09      644.54      542.70
East Candiceton          743.31     550.11   361.13      474.96      521.82
East Jeremytown          569.37     683.50   776.91      672.75      530.10
East Sara                689.23     789.89   570.80      595.17      802.42
East Suzanneside         624.92     622.32  1059.56      559.53      470.71
Erichaven                840.40     804.64   588.12      610.32      523.35
Irwinport                656.30     364.40   350.89      363.82      324.49
Jaredside                593.00     576.53   849.25      658.23      684.53
Jessicafort              590.56     595.16   591.65      628.15      777.86
Jordanmouth              634.12     798.42   519.11      608.04      617.21
Julieview                637.71     541.55   588.83      626.90      666.85
Justinstad               573.37     451.61   790.41      993.90      534.03
Lake Bryan               798.38     663.38   659.59      742.38      674.26
Martinezfurt             702.57     639.80   641.92      636.52      563.85
Meganton                 612.64     569.16   585.22      734.98      675.14
Michelemouth             527.54     572.79   820.83      313.43      556.52
New Eric                 632.20     558.91   590.39      653.87      992.52
New Glenn                534.55     623.97   504.40      514.92      746.53
New Lisa                 632.09     807.78   589.11      670.39      701.05
New Richard              620.40     843.40   521.08      522.09      631.41
North Charles            711.99     912.32   682.49      454.99      548.58
North Joyfort            609.45     526.49   582.68      607.47      769.25
North Sarah              694.05     828.82   756.29      628.29      590.65
Port Angela              855.05     459.79   701.14      620.64      725.21
Port Emilymouth          480.72     513.58   678.04      595.94      531.16
South Alyssa             778.97     494.20   742.65      703.64      645.95
South Billyview          681.97     720.70   709.59      829.52      721.67
South Christineside      662.97     575.75   596.02      633.02      493.13
South Cynthia            740.32     624.32   597.46      604.52      767.47
South Edward             619.64     677.48   591.68      798.87      516.91
South Helenhaven         600.14     729.80   555.55      573.49      326.63
South Michaelfurt        536.28     342.41   439.15      630.73      893.00
South Rachaelport        478.15     779.60   998.30      544.09      681.71
Swansonfurt              543.44     643.14   425.37      683.20      746.23
Tracyton                 792.46     548.11   655.82      449.68      409.41
Vincentville             424.27     521.89   563.40      723.35      657.75
West John                457.50     588.62   627.48      632.86      847.68
West Stefanie            604.70     606.37   612.53      576.48      718.44

Customer Type
Payment Method      debit card
Store
Alexmouth               670.54
Andersonland            382.79
Andreburgh              647.15
Anthonymouth            574.64
Anthonyton              595.01
Aprilside               629.55
Bakershire              566.24
Charlesbury             678.65
Christopherfurt         744.69
Christopherhaven        656.19
East Ann                656.77
East Candiceton         625.02
East Jeremytown         787.77
East Sara               506.91
East Suzanneside        633.63
Erichaven               722.52
Irwinport               571.39
Jaredside               661.50
Jessicafort             616.78
Jordanmouth             711.73
Julieview               494.38
Justinstad              754.33
Lake Bryan              812.79
Martinezfurt            653.56
Meganton                571.99
Michelemouth            485.62
New Eric                665.96
New Glenn               439.04
New Lisa                425.55
New Richard             632.90
North Charles           654.23
North Joyfort           556.20
North Sarah             850.48
Port Angela             989.61
Port Emilymouth         587.84
South Alyssa            526.27
South Billyview         867.67
South Christineside     601.87
South Cynthia           719.43
South Edward            653.41
South Helenhaven        715.65
South Michaelfurt       690.28
South Rachaelport       455.74
Swansonfurt             536.79
Tracyton                768.33
Vincentville            750.44
West John               425.23
West Stefanie           858.08

[48 rows x 24 columns]

In [39]:
# --- 5. Export all summaries to one Excel file ---
'''with pd.ExcelWriter("analysis_summary.xlsx", engine="openpyxl") as writer:
    grouped_product_payment.to_excel(writer, sheet_name="Product_Payment", index=False)
    grouped_store_customer.to_excel(writer, sheet_name="Store_Customer", index=False)
    apples_cash_summary.to_excel(writer, sheet_name="Apples_Cash", index=False)
    pivot_summary.to_excel(writer, sheet_name="Pivot_Summary")

print("✅ All summaries exported to 'analysis_summary.xlsx'")'''

'''import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font, Alignment, PatternFill, Border, Side
from openpyxl.utils import get_column_letter

# 1. Load cleaned data
df = pd.read_excel("data_cleaned.xlsx")

# --- Summaries ---
grouped_product_payment = df.groupby(["Product Name", "Payment Method"]).agg(
    Total_Quantity=("Quantity", "sum"),
    Total_Spent=("Total Amount", "sum")
).reset_index()

grouped_store_customer = df.groupby(["Store", "Customer Type"]).agg(
    Total_Spent=("Total Amount", "sum"),
    Total_Quantity=("Quantity", "sum")
).reset_index()

apples_cash = df[(df["Product Name"].str.lower() == "apple") &
                 (df["Payment Method"].str.lower() == "cash")]
apples_cash_summary = apples_cash.groupby("Store").agg(
    Total_Quantity=("Quantity", "sum"),
    Total_Spent=("Total Amount", "sum")
).reset_index()

pivot_summary = pd.pivot_table(
    df,
    values="Total Amount",
    index=["Store"],
    columns=["Customer Type", "Payment Method"],
    aggfunc="sum",
    fill_value=0
)

# 2. Export to Excel first (raw data)
file_path = "analysis_summary.xlsx"
with pd.ExcelWriter(file_path, engine="openpyxl") as writer:
    grouped_product_payment.to_excel(writer, sheet_name="Product_Payment", index=False)
    grouped_store_customer.to_excel(writer, sheet_name="Store_Customer", index=False)
    apples_cash_summary.to_excel(writer, sheet_name="Apples_Cash", index=False)
    pivot_summary.to_excel(writer, sheet_name="Pivot_Summary")

# 3. Apply formatting with openpyxl
wb = load_workbook(file_path)

for sheet in wb.sheetnames:
    ws = wb[sheet]

    # Style header row
    for cell in ws[1]:
        cell.font = Font(bold=True, color="FFFFFF")
        cell.fill = PatternFill("solid", fgColor="4F81BD")  # blue background
        cell.alignment = Alignment(horizontal="center", vertical="center")

    # Auto column widths
    for col in ws.columns:
        max_length = 0
        col_letter = get_column_letter(col[0].column)
        for cell in col:
            try:
                if cell.value:
                    max_length = max(max_length, len(str(cell.value)))
            except:
                pass
        adjusted_width = max_length + 2
        ws.column_dimensions[col_letter].width = adjusted_width

    # Format currency columns if they contain money
    for col in ws.iter_cols():
        header = col[0].value
        if header and ("Amount" in str(header) or "Spent" in str(header) or "Price" in str(header)):
            for cell in col[1:]:
                if isinstance(cell.value, (int, float)):
                    cell.number_format = '"₦"#,##0.00'  # Change ₦ to $ if needed

    # Add thin borders to all cells
    thin = Side(border_style="thin", color="000000")
    for row in ws.iter_rows():
        for cell in row:
            cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)

# Save workbook with formatting
wb.save(file_path)

print("✅ Excel exported with professional formatting: 'analysis_summary.xlsx'")'''

'import pandas as pd\nfrom openpyxl import load_workbook\nfrom openpyxl.styles import Font, Alignment, PatternFill, Border, Side\nfrom openpyxl.utils import get_column_letter\n\n# 1. Load cleaned data\ndf = pd.read_excel("data_cleaned.xlsx")\n\n# --- Summaries ---\ngrouped_product_payment = df.groupby(["Product Name", "Payment Method"]).agg(\n    Total_Quantity=("Quantity", "sum"),\n    Total_Spent=("Total Amount", "sum")\n).reset_index()\n\ngrouped_store_customer = df.groupby(["Store", "Customer Type"]).agg(\n    Total_Spent=("Total Amount", "sum"),\n    Total_Quantity=("Quantity", "sum")\n).reset_index()\n\napples_cash = df[(df["Product Name"].str.lower() == "apple") &\n                 (df["Payment Method"].str.lower() == "cash")]\napples_cash_summary = apples_cash.groupby("Store").agg(\n    Total_Quantity=("Quantity", "sum"),\n    Total_Spent=("Total Amount", "sum")\n).reset_index()\n\npivot_summary = pd.pivot_table(\n    df,\n    values="Total Amount",\n    index=["Store"],\n    columns=["Customer Type", "Payment Method"],\n    aggfunc="sum",\n    fill_value=0\n)\n\n# 2. Export to Excel first (raw data)\nfile_path = "analysis_summary.xlsx"\nwith pd.ExcelWriter(file_path, engine="openpyxl") as writer:\n    grouped_product_payment.to_excel(writer, sheet_name="Product_Payment", index=False)\n    grouped_store_customer.to_excel(writer, sheet_name="Store_Customer", index=False)\n    apples_cash_summary.to_excel(writer, sheet_name="Apples_Cash", index=False)\n    pivot_summary.to_excel(writer, sheet_name="Pivot_Summary")\n\n# 3. Apply formatting with openpyxl\nwb = load_workbook(file_path)\n\nfor sheet in wb.sheetnames:\n    ws = wb[sheet]\n\n    # Style header row\n    for cell in ws[1]:\n        cell.font = Font(bold=True, color="FFFFFF")\n        cell.fill = PatternFill("solid", fgColor="4F81BD")  # blue background\n        cell.alignment = Alignment(horizontal="center", vertical="center")\n\n    # Auto column widths\n    for col in ws.columns:\n        max_length = 0\n        col_letter = get_column_letter(col[0].column)\n        for cell in col:\n            try:\n                if cell.value:\n                    max_length = max(max_length, len(str(cell.value)))\n            except:\n                pass\n        adjusted_width = max_length + 2\n        ws.column_dimensions[col_letter].width = adjusted_width\n\n    # Format currency columns if they contain money\n    for col in ws.iter_cols():\n        header = col[0].value\n        if header and ("Amount" in str(header) or "Spent" in str(header) or "Price" in str(header)):\n            for cell in col[1:]:\n                if isinstance(cell.value, (int, float)):\n                    cell.number_format = \'"₦"#,##0.00\'  # Change ₦ to $ if needed\n\n    # Add thin borders to all cells\n    thin = Side(border_style="thin", color="000000")\n    for row in ws.iter_rows():\n        for cell in row:\n            cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)\n\n# Save workbook with formatting\nwb.save(file_path)\n\nprint("✅ Excel exported with professional formatting: \'analysis_summary.xlsx\'")'