In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_excel("C:/Users/HP/KHYLE TECHCORE/KHYLE DATA SC/supermarket_transactions.xlsx")
df.head(10)

,S/N,id,timestamp,quantity,product_id,PRODUCT_NAME,unit_price,total_amount,store,payment_method,customer_id,customer_type
0,0,47d54138-a950-4ec0-9d4a-e637e8dfb290,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,1,dea298b1-26ca-4a43-bcef-4050fb74ce1d,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2,8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,3,261c100c-b121-44b7-bc03-787f396c2061,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,4,7d025b4d-caac-40a5-b954-63cd7bd20f92,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
5,5,50adf65d-1917-49ef-9f8b-cddd9969d01b,2022-03-27 13:15:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,Erichaven,credit card,78f29877-3ed9-4c58-a81a-3f5a248800bb,staff
6,6,01e25123-0995-4eda-8870-b9965a03fd3d,2021-09-17 12:47:00,3,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.17,Tracyton,contactless,5b2b478e-e102-47e3-ac06-04c58e6d9c2d,staff
7,7,b273ec23-b75d-4656-bd7f-315238bbacba,2020-01-05 19:51:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Christineside,contactless,ffb04b72-49fa-4e9a-8a91-96db0a8596a8,staff
8,8,ea773393-f8d9-4192-a33a-66429e139760,2019-07-03 15:12:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,Meganton,debit card,11171cf2-6670-4a7e-b56c-a54a1fa24cc3,staff
9,9,e8602bf8-f2f1-41a6-98b3-128977093cc3,2022-05-23 09:15:00,4,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,1.56,South Christineside,credit card,77e5eeed-52a2-48a2-a424-75fdcd5b8270,corporate

In [10]:
df.dtypes
df.shape

(50783, 12)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50783 entries, 0 to 50782
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S/N             50783 non-null  int64
 1   id              50783 non-null  object
 2   timestamp       50783 non-null  datetime64[ns]
 3   quantity        50783 non-null  int64
 4   product_id      50783 non-null  object
 5   PRODUCT_NAME    50783 non-null  object
 6   unit_price      50783 non-null  float64
 7   total_amount    50783 non-null  float64
 8   store           50783 non-null  object
 9   payment_method  50783 non-null  object
 10  customer_id     50783 non-null  object
 11  customer_type   50783 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 4.6+ MB

In [15]:
#print(df.columns)
#another way to view columns
for col in df.columns:
    print(col)

Index(['S/N', 'id', 'timestamp', 'quantity', 'product_id', 'PRODUCT_NAME',
       'unit_price', 'total_amount', 'store', 'payment_method', 'customer_id',
       'customer_type'],
      dtype='object')

In [34]:
#df = df.rename(columns={"OldName": "NewName", "Salary": "Monthly_Salary"}) #renaming a column
#df.columns = ["ID", "Full_Name", "Age", "Department", "Monthly_Salary"] #change all columns at once
#df = df.drop(columns=["Age"])   # removes Age column
#df["Bonus"] = df["Monthly_Salary"] * 0.1   # 10% bonus
#df["Full_Name"] = df["Full_Name"].str.upper()   # convert names to uppercase

df=df.drop(columns=["ID","id"])

'''rename_dict = {
    'S/N': 'ID',
    'timestamp': 'Time Stamp',
    'quantity': 'Quantity',
    'product_id': 'Product ID',
    'PRODUCT_NAME': 'Product Name',
    'unit_price': 'Unit Price',
    'total_amount': 'Total Amount',
    'store': 'Store',
    'payment_method': 'Payment Method',
    'customer_id': 'Customer ID',
    'customer_type': 'Customer Type'
}'''

In [37]:
print(df.columns.tolist())
df.shape

['Time Stamp', 'Quantity', 'Product ID', 'Product Name', 'Unit Price', 'Total Amount', 'Store', 'Payment Method', 'Customer ID', 'Customer Type']

(50783, 10)

In [51]:
print(type(df))

<class 'NoneType'>